/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/
/* Reset some default styles */
/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #f4f6f9;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px; /* 버튼과 설명 사이의 여백 */
}

.container {
  padding: 20px;
  max-width: 600px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  font-size: 1.5em;
  color: #333;
  text-align: center; /* 중앙 정렬 */
}

.btn {
  padding: 12px 24px;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-btn {
  background-color: #28a745;
}

.btn:hover {
  background-color: #0056b3;
}

.start-btn:hover {
  background-color: #218838;
}
